extends layout

block content
  h1= title
  p Welcome to #{title}
  p I've got to much to do to pick you up so figure it out like an adult
  p
  a(href='/cars') List of Cars
  br 
  a(href='/drivers') List of Drivers
